.root {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    li {
        margin-left: 10px;

        a {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #fe5f1e;
            align-self: center;
            line-height: 45px;
            text-align: center;
            color: #fe5f1e;
            cursor: pointer;

            &:hover {
                background-color: #fe5f1e;
                color: white;
            }
        }
    }


    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: white;
            }
        }
    }
}